<!doctype html>
<html>
  <head>
    <title>{% block title %}Todo list{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
      .btn-sm {
          width: 100%;  /* Faire en sorte que tous les boutons prennent toute la largeur de la cellule */
          text-align: center;  /* Centrer le texte à l'intérieur du bouton */
      }
  </style>
  </head>
  <body>
    {% include "menu" %}
    {% block body %}{% endblock %}
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
      const socket = new WebSocket("ws://localhost:3000/ws");
      const textarea = document.getElementById("note");
      let lastSentText = "";
      let lastUserText = "";
  
      // Met à jour le texte quand l'utilisateur tape
      textarea.addEventListener("input", () => {
        lastUserText = textarea.value;
      });
  
      // Envoie le texte modifié une fois par seconde
      setInterval(() => {
        if (socket.readyState === WebSocket.OPEN && lastUserText !== lastSentText) {
          socket.send(lastUserText);
          lastSentText = lastUserText;
          console.log("Texte envoyé :", lastUserText);
        }
      }, 1000);
  
      socket.onmessage = (event) => {
        console.log("Réponse du serveur :", event.data);
      };
    </script>
  </body>
</html>