{% extends "main" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<div class="container mt-5">
    <h3 class="text-center">Ajouter une tâche</h3>
    <div class="p-4 bg-warning border rounded shadow">
        <form action="/task/create" method="POST">
            <div class="row mb-3 align-items-center">
                <label for="date" class="col-sm-2 col-form-label fw-bold">Description</label>
                <div class="col-sm-10">
                    <input type="text" name="description" id="description"
                        class="form-control border border-dark bg-light text-dark" required>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="priority" class="col-sm-2 col-form-label fw-bold">Priorité</label>
                <div class="col-sm-10">
                    <select name="priority" id="priority" class="form-control border border-dark bg-light text-dark"
                        required>
                        {% for (priority,name) in all_priority %}
                            <option value="{{ priority }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="importance" class="col-sm-2 col-form-label fw-bold">Importance</label>
                <div class="col-sm-10">
                    <select name="importance" id="importance" class="form-control border border-dark bg-light text-dark"
                        required>
                        {% for (importance,name) in all_importance %}
                            <option value="{{ importance }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="importance" class="col-sm-2 col-form-label fw-bold">Durée</label>
                <div class="col-sm-10">
                    <select name="duration" id="duration" class="form-control border border-dark bg-light text-dark"
                        required>
                        {% for (duration,name) in all_duration %}
                            <option value="{{ duration }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="status" class="col-sm-2 col-form-label fw-bold">Statut</label>
                <div class="col-sm-10">
                    <select name="status" id="status" class="form-control border border-dark bg-light text-dark"
                        required>
                        {% for (status,name) in all_status %}
                            <option value="{{ status }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="/" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}