{% extends "main" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<div class="container mt-5">
    <h3 class="text-center">Ajouter une tâche</h3>
    <div class="p-4 bg-warning border rounded shadow">
        <form action="/task/create" method="POST">
            <div class="row mb-3 align-items-center">
                <label for="date" class="col-sm-2 col-form-label fw-bold">Contenu</label>
                <div class="col-sm-10">
                    <input type="text" name="description" id="description" class="form-control border border-dark bg-light text-dark" required>
                </div>
            </div>
            
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="/" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}