{% extends "main" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<div class="container mt-5">
    <h3 class="text-center">Modifier une tâche</h3>
    <div class="p-4 bg-warning border rounded shadow">
        <form action="/task/{{ task.id }}/edit" method="POST">
            <input type="hidden" value="{{ task.id }}">
            <div class="row mb-3 align-items-center">
                <label for="description" class="col-sm-2 col-form-label fw-bold">Description</label>
                <div class="col-sm-10">
                    <textarea type="text" name="description" id="description" rows="3" class="form-control border border-dark bg-light text-dark" required>{{ task.description }}</textarea>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="priority" class="col-sm-2 col-form-label fw-bold">Priorité</label>
                <div class="col-sm-10">
                    <select name="priority" id="priority" class="form-control border border-dark bg-light text-dark" required>
                        {% for (priority,name) in all_priority %}
                            {% if task.priority==priority %}
                                <option value="{{ priority }}" selected>{{ name }}</option>
                            {% else %}
                                <option value="{{ priority }}">{{ name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="importance" class="col-sm-2 col-form-label fw-bold">Importance</label>
                <div class="col-sm-10">
                    <select name="importance" id="importance" class="form-control border border-dark bg-light text-dark" required>
                        {% for (importance,name) in all_importance %}
                            {% if task.importance==importance %}
                                <option value="{{ importance }}" selected>{{ name }}</option>
                            {% else %}
                                <option value="{{ importance }}">{{ name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="duration" class="col-sm-2 col-form-label fw-bold">Durée</label>
                <div class="col-sm-10">
                    <select name="duration" id="duration" class="form-control border border-dark bg-light text-dark" required>
                        {% for (duration,name) in all_duration %}
                            {% if task.duration==duration %}
                                <option value="{{ duration }}" selected>{{ name }}</option>
                            {% else %}
                                <option value="{{ duration }}">{{ name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="status" class="col-sm-2 col-form-label fw-bold">Statut</label>
                <div class="col-sm-10">
                    <select name="status" id="status" class="form-control border border-dark bg-light text-dark" required>
                        {% for (status,name) in all_status %}
                            {% if task.status==status %}
                                <option value="{{ status }}" selected>{{ name }}</option>
                            {% else %}
                                <option value="{{ status }}">{{ name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="grouping" class="col-sm-2 col-form-label fw-bold">Regroupement</label>
                <div class="col-sm-10">
                    <input type="text" name="grouping" id="grouping" value="{{ task.grouping }}" class="form-control border border-dark bg-light text-dark">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="/" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}