{% extends "main" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<h3 class="text-center">{{filter}} ({{nb}})</h3>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Statut</th>
            <th></th>
            <th>Description</th>
            <th>Priorité</th>
            <th>Importance</th>
            <th>Durée</th>
            <th>Créé le</th>
            <th>Commencé le</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        {% if task.id==id %}
        <tr class="table-active">
        {% else %}
        <tr class="table-primary">
        {% endif %}
            <td>
                {% for (status,name) in all_status %}
                    {% if task.status==status %}
                        {% if task.status=='ToDo' %}
                            <a id="task{{task.id}}" href="/task/{{ task.id }}/update_status?status=InProgress" class="btn btn-secondary btn-sm">{{ name }}</a>
                        {% elif task.status=='InProgress' %}
                            <a id="task{{task.id}}" href="/task/{{ task.id }}/update_status?status=Finished" class="btn btn-warning btn-sm">{{ name }}</a>
                        {% elif task.status=='Finished' %}
                            <form action="/task/{{ task.id }}/edit" method="GET" style="display:inline-block;">
                                <button id="task{{task.id}}" type="submit" class="btn btn-success btn-sm">{{ name }}</button>
                            </form>
                        {% elif task.status=='Blocked' %}
                            <form action="/task/{{ task.id }}/edit" method="GET" style="display:inline-block;">
                                <button id="task{{task.id}}" type="submit" class="btn btn-danger btn-sm">{{ name }}</button>
                            </form>
                        {% else %}
                            <form action="/task/{{ task.id }}/edit" method="GET" style="display:inline-block;">
                                <button id="task{{task.id}}" type="submit" class="btn btn-light btn-sm">{{ name }}</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ task.scoring }}</td>
            <td>{{ task.description }}</td>
            <td>
                {% for (priority,name) in all_priority %}
                    {% if task.priority==priority %}
                        {{ name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for (importance,name) in all_importance %}
                    {% if task.importance==importance %}
                        {{ name }}
                    {% endif %}
                {% endfor %}
                </select>                
            </td>
            <td>
                {% for (duration,name) in all_duration %}
                    {% if task.duration==duration %}
                        {{ name }}
                    {% endif %}
                {% endfor %}         
            </td>
            <td>{{ task.creation_date | format_date }}</td>
            <td>{{ task.start_date | format_date }}</td>
            <td>
                <form action="/task/{{ task.id }}/edit" method="GET" style="display:inline-block;">
                    <button type="submit" class="btn btn-warning btn-sm">Modifier</button>
                </form>
                <form action="/task/{{ task.id }}/delete" method="GET" style="display:inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Etes vous sûr ?')">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}