{% extends "main" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<h3 class="text-center">Liste des tâches</h3>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="table-primary">
            <td>toto</td>
            <td>{{ task.description }}</td>
            <td>
                <a href="/" class="btn btn-warning btn-sm">Modifier</a>
                <form action="/" method="POST" style="display:inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Etes vous sûr ?')">Supprimer</button>
                </form>
                <a href="/" target="_blank" class="btn btn-secondary btn-sm">Autre</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}